.container {
    display: flex;
    text-align: center;
    justify-content: center;
  }
.title{
    position:absolute;
    top:1%;
}
.toss-intro{
    position:absolute;
    top:15%;
    left:5%;
    right:5%;
}
.reading-intro{
    position:absolute;
    top:15%;
    left:5%;
    right:5%;
}
.toss-center {
    position: absolute;
    left: 30%;
    top: 40%;
    height: 330px;
    width: 500px;
    border: solid 0.3em;
    margin: 0.1em;
    padding: 0.1em; 
} 
.reading-center {
    display: none; 
    position: absolute;
    left: 30%;
    top: 40%;
    height: 330px;
    width: 500px
} 
.text-center {
    position: absolute;
    left: -10%;
    right: 0%;
    height: 330px;
    width: 700px;
    border: solid 0.3em;
    margin: 0.1em;
    padding: 0.1em; 
} 
.coin-center img{
    margin:20px;
    height:100px;
    width: 100px;
}
.button-center button{
    margin:20px;
    height:30;
    width: 100;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
